# pytorch / deep learning
torch
torchdiffeq
torchmetrics
lightning
wandb
normflows
onnx
onnxruntime

# flash attention 2
packaging
ninja
flash-attn

# general data handling
pandas
tables
h5py
pyarrow
parquet
fastparquet

# CERN/ROOT for jetclass
awkward
uproot
vector
lz4
xxhash

# workflow
snakemake==8.4.1 # Newer seems bugged with apptainer

# hydra
omegaconf
hydra-core
hydra-colorlog

# plotting
matplotlib
seaborn
plotly
Pillow

# data science
numpy
scipy
scikit-hep
scikit-learn
pykeops

# other
tqdm
black
pylint
dotmap
rootutils
pre-commit
rich
pytest
